<div *ngIf="page == 'home'">
  <app-home></app-home>
</div>

<div *ngIf="page == 'about'">
  <app-about></app-about>
</div>

<div *ngIf="page == 'skills'">
  <app-skills></app-skills>
</div>

<div *ngIf="page == 'experiences'">
  <app-experiences></app-experiences>
</div>

<div *ngIf="page == 'contact'">
  <app-contact></app-contact>
</div>

<div class="paper">
  <h1>Je veux <a class="background">faire des choses</a></h1>
  <h1>pour <a class="underline">créer la différence.</a></h1>

  <h2>VOUS RECHERCHEZ UN EXPERT WEB?</h2>
  <h3>Ne cherchez plus. Je suis un spécialiste en conception et développement Web.</h3>

  <a mat-raised-button routerLink="." class="color">Apprendre sur moi ></a>
</div>
