.paper {
  padding: 20px;
  background-image: url("../../assets/img/bg.png");
  background-repeat: repeat;
  height: -webkit-fill-available;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  text-align: justify;
}

.p {
  font-family: raleway, sans-serif;
  font-size: 1rem;
}

.image-cropper {
  display: block;
  // border: 5px dotted #1abc9c;
  width: 160px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.example-card {
  max-width: 60%;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin-bottom: -1%;
}

h2 {
  text-align: center;
  font-size: 2rem;
  // font-family: raleway, sans-serif;
  // font-family: system-ui;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #1abc9c;
}
