.paper {
  padding: 20px;
  background-image: url("../../assets/img/bg.png");
  background-repeat: repeat;
  height: 1000px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  text-align: justify;
}

.p {
  font-family: raleway, sans-serif;
  margin-left: 20%;
  font-size: 1rem;
}

.image-cropper {
  display: block;
  // border: 5px dotted #1abc9c;
  width: 160px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.example-card {
  max-width: 50%;
  margin-left: 20%;
}

h1 {
  line-height: 1.5;
  font-size: 2rem;
  margin-left: 30%;
  width: 30%;
  font-family: raleway, sans-serif;
  margin-bottom: -1%;
}

h2 {
  line-height: 1.5;
  // margin-left: 30%;
  // margin-right: 30%;
  // width: 18%;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-family: raleway, sans-serif;

  color: #fff;
}

.fullstack {
  background: #1abc9c;
  width: auto;
  margin-left: 30%;
  width: 22%;
}
