<div class="paper">
  <h1>MURAT MENDIL</h1>
  <h2 class="fullstack">FULL STACK DEVELOPER</h2>

  <!-- CARD 1 -->
  <mat-card class="example-card">
    <div class="image-cropper">
      <img src="../../assets/img/murat3.jpg" alt="Une photo de moi" class="rounded" />
    </div>

    <div class="container">
      <p>
        Ayant découvert le développement informatique en licence professionnelle, j’ai découvert ma passion pour
        l’informatique et le codage. Après avoir validé ma première année de master, j'ai décidé de m'orienter vers un
        Master plus complet, permettant de développer des logiciels, des sites webs, des applications entre autres.
      </p>
      <p>
        Effectuant mon master en alternance, j'ai la possibilité de pratiquer différents langages, que ceux j'apprend à
        l'école.
      </p>
    </div>
  </mat-card>

  <!-- CARD 2 -->
</div>
