.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-icon {
  margin-left: 9% !important;
  color: #008060 !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #008060 !important;
}

.mat-list-item-content {
  margin-left: 25% !important;
}

.spanni {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: black !important;
}

.navCenter {
  margin-left: 40% !important;
}

.texte {
  margin-left: 20% !important;
}