<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <a class="navCenter">M - M</a></mat-toolbar>
    <mat-nav-list>
      <a matTooltip="A Propos" mat-list-item (click)="getPage('About')" >
        <mat-icon>tag_faces</mat-icon> <p class="texte">A Propos</p>
      </a>
      <a matTooltip="Mes compétences" mat-list-item (click)="getPage('Skills')"><mat-icon>code</mat-icon> <p class="texte">Mes Compétences</p></a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spanni">{{page | async}}</span>
    </mat-toolbar>
    <app-content [page]="page | async"></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
