<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <p class="navCenter image-cropper" mat-menu-item [routerLink]="['/home']" routerLinkActive="active-link">
        <img src="../../assets/img/murat3.jpg" alt="Une photo de moi" class="rounded" />
      </p>

      <div class="nameCenter">MENDIL.EU</div>

      <!-- MENU -->
      <a matTooltip=" A Propos" mat-list-item [routerLink]="['/about']" routerLinkActive="active-link">
        <mat-icon class="color">tag_faces</mat-icon>
        <p class="texte" [innerHTML]="'about' | translate"></p>
      </a>
      <a matTooltip="Mes Compétences" mat-list-item [routerLink]="['/skills']" routerLinkActive="active-link">
        <mat-icon class="color">code</mat-icon>
        <p class="texte" [innerHTML]="'skills' | translate"></p>
      </a>
      <a matTooltip="Mes Éxpériences" mat-list-item [routerLink]="['/experiences']" routerLinkActive="active-link">
        <mat-icon class="color">web</mat-icon>
        <p class="texte" [innerHTML]="'experiences' | translate"></p>
      </a>
      <a matTooltip="Me Contacter" mat-list-item [routerLink]="['/contact']" routerLinkActive="active-link">
        <mat-icon class="color">contacts</mat-icon>
        <p class="texte" [innerHTML]="'contact' | translate"></p>
      </a>
      <hr />
      <!-- <button mat-button> -->
      <a href="https://github.com/muratmendil"><img src="../../assets/img/github-logo.svg" alt="" class="externe-link" /></a>
      <a href="https://www.linkedin.com/in/muratmendil/"><img src="../../assets/img/linkedin.svg" alt="" class="externe-link" /></a>
      <!-- </button> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <div class="spanni">{{page | async}}</div> -->
      <div class="lang">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>language</mat-icon> Langue
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="translate.use('fr')">Francais</button>
          <button mat-menu-item (click)="translate.use('en')">English</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
