<div class="paper" fxLayout="column" fxLayoutAlign="center center">
  <div class="container" fxLayout="column wrap" fxLayoutAlign="space-between center">
    <div class="title">Contactez moi</div>
    <div class="subtitle"> Vous recherchez un développeur, chargé de projet numérique ou vous voulez créer votre site
      Web ? Et bien vous toquez à la bonne fenêtre !
      N'hésitez pas à me contacter via les réseaux sociaux professionnels ou par mail. </div>
    <br />
    <div class="mail">murat@mendil.eu</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div>
      <a href="https://github.com/muratmendil"><img src="../../assets/img/github.svg" alt=""
          class="externe-link center" /></a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/muratmendil/"><img src="../../assets/img/linkedin1.svg" alt=""
          class="externe-link center"></a>
    </div>
  </div>
</div>
