<div class="paper">
  <div class="container">
    <div class="title">Contactez moi</div>
    <div class="subtitle"> Vous recherchez un développeur, chargé de projet numérique ou vous voulez créer votre site
      Web ? Et bien vous toquez à la bonne fenêtre !
      N'hésitez pas à me contacter via les réseaux sociaux professionnels ou par mail. </div>
    <br />
    <div class="mail">murat@mendil.eu</div>
  </div>
  <a href="https://github.com/muratmendil"><img src="../../assets/img/github-logo.svg" alt=""
      class="externe-link" /></a>
  <a href="https://www.linkedin.com/in/muratmendil/"><img src="../../assets/img/linkedin.svg" alt=""
      class="externe-link" /></a>
</div>
