<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <p class="texte" [innerHTML]="post | translate"></p>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="texte" [innerHTML]="title | translate"></p>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{logo}}" alt="Logo"
    style="width:100px; height: 100px; display: block;margin-left:auto; margin-right: auto; background-size: cover;">
  <mat-card-content>
    <p class="texte" [innerHTML]="descriptions | translate"></p>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button style="position: absolute; bottom: 0; left: 40%; right: 0;">VOIR</button>
    <!-- <a mat-raised-button href="https://stackoverflow.com/">Stackoverflow</a> -->
  </mat-card-footer>
  <mat-card-actions>
    <mat-chip-list fxLayout="row">
      <div *ngFor="let frontend of frontend">
        <mat-chip color="primary" selected>{{frontend}}</mat-chip>
      </div>
      <div *ngFor="let backend of backend">
        <mat-chip color="warn" selected>{{backend}}</mat-chip>
      </div>
      <div *ngFor="let bdd of bdd">
        <mat-chip>{{bdd}}</mat-chip>
      </div>
      <div *ngFor="let other of other">
        <mat-chip color="accent" selected>{{other}}</mat-chip>
      </div>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
