.example-header-image {
  background-image: url('/assets/img/murat3.jpg');
  background-size: cover;
  margin-top: 12px;
}

.example-card {
  min-width: auto;
  min-height: 500px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

.mat-card-actions {
  margin-bottom: 15%;
}

.mat-raised-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo-normal {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Logo-small {
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
